/*---------- RESET CSS -------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
/* remember to define focus styles! */
:focus {
    outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*---------- Stili CSS -------------------*/


html, body{ color: white; }

body {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;   
}

#first { margin-left: 525px; }

#light { display: inline-block; }

#light img { margin-bottom: -9px;  }

#light:hover { cursor: pointer; }

#counter { 
          display: inline-block;
          text-align: center;
}

#cont { 
       min-width: 120px;
       padding: 4px;
       background-color: white;
       color: black; 
       border-width: 5px;
       border-color: #81818b;
       border-style: solid;
       -webkit-border-radius: 8px 8px 8px 8px;
       -moz-border-radius: 8px 8px 8px 8px;
       border-radius: 8px 8px 8px 8px;

       letter-spacing: 8px;
       font-size: 39px;

       padding-left: 7px; 
}

#txt { font-size: 18px; }

h1 { display: none; }